* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

#header {
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-family: 'Brush Script MT', cursive;
    text-transform: uppercase;
    text-decoration: overline;
    font-size: x-large;
    border-radius: 20px 40px;
    padding: 10px 10px;
}

#layer {
    background-color: rgb(29, 27, 27);
    height: 635px;
    z-index: 1;
    padding-top: 20px;
}

#buttons {
    margin-left: 5%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 0;
    padding: 0;
    box-shadow: 10px rebeccapurple;
}

#results {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 13%;
}